<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |t| %>
  <li>
    <% if t.completed %>
      <%= "ðŸ¥‘" %>
    <% else %>
      <%= "ðŸž" %>
    <% end %>
    <%= link_to t.title, task_path(t) %> </li>
  <% end %>
</ul>

<%= link_to 'ðŸ¥¨ add a new task !', new_task_path %>
